<div class="about_us">
	<div class="title center"  id='page2' style='padding-top:20px;background-color:#2a2d78;height:80px;padding-top:60px;border-style:dashed solid dashed;border-radius:25px;'>
	¿Quienes Somos?
	</div>
	<div class="centered-container">
		<div class="leftContainer">
			<img src="/images/family_icon.gif" class='leftPhoto' style='width:250px;height:250px;margin-left:50px;margin-top:20px;'>
			<div class="subTitle">
				Somos una empresa familiar, en la cual los mismos dueños prestamos un servicio de excelencia.
			</div>
		</div>
		<div class="midContainer">
			<img src="/images/van_icon.png" class='leftPhoto' style='width:auto;margin-top:70px;'>
			<div class="subTitle"style='margin-top:50px;'>
				Contamos con vehículos modernos y confortables, aprobados por el Ministerio de Transportes, con la última tecnología, lo que permite dar un servicio de óptima calidad.
			</div>
		</div>
		<div class="rightContainer">
			<img src="/images/handshake.png" class='leftPhoto' style='width:auto;margin-top:20px;'>
			<div class="subTitle">
				TransviaJero fue diseñado pensando en personas que requieren un servicio personalizado y absolutamente confiable. Ofrecemos puntualidad, comodidad y los mejores precios del mercado.
			</div>
		</div>
	</div>
</div>
