<div class="services">
	<div class="title center" >
	Nuestros servicios
	</div>
	<div class="centered-container">
		<div class="service"id='page3' style='height:250px;'>
			<div class="subTitle">
				<%=t(:services_airport)%>
			</div>
			<div class="description">
				<ul>
					<li class='pullDown'>									<%=t(:services_airport1)%>
					</li>
					<li class='pullDown'>
						<%=t(:services_airport2)%>
					</li>
					<li class='pullDown'>Valores según lugar de origen o destino y número de pasajeros</li>
					<li class='pullDown'>Traslado en van privada con capacidad máxima de siete pasajeros</li>
					<li class='pullDown'>No hay restricción de horario, servicio funciona las 24 horas, se solicita efectuar previa reserva.</li>
				</ul>
			</div>
		</div>

		<div class="service" id='page4' style='height:280px;'>
			<div class="subTitle">
				Servicio Urbano:
			</div>
			<div class="description">
				<ul>
					<li class='pullDown'>Región metropolitana, cuarta, quinta y sexta región.</li>
					<li class='pullDown'>Traslados de pasajeros a eventos privados, matrimonios, fiestas dentro de viña, valparaiso, santiago, etc.</li>
					<li class='pullDown'>Traslado de asistentes a recitales.</li>
					<li class='pullDown'>Traslado a litoral central y balnearios de la IV, V y VIa. región.</li>
				</ul>
			</div>
		</div>
		<div class="service" id='page5' style='height:330px;'>
			<div class="subTitle" >
				Servicio de Turismo:
			</div>
			<div class="description">
				<ul>
					<li class='pullDown'>Tour en diferentes modalidades en viña del mar, valparaíso, la serena y santiago.</li>
					<li class='pullDown'>Tour a la montaña y canchas de ski a farellones, valle nevado, el clorado, la parva y portillo.</li>
					<li class='pullDown'>Cubre región metropolitana, IV, V y VI regiones.</li>
					<li class='pullDown'>Visita a isla negra.</li>
					<li class='pullDown'>Tour por cajón del maipo.</li>
					<li class='pullDown'>Viñedos y ruta del vino.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

